path.link {
  fill: none;
  stroke: #666;
  stroke-width: 2px;
}

marker#licensing {
  fill: lightgreen;
}

path.link.licensing {
  stroke: lightgreen;
}

path.link.resolved {
  stroke-dasharray: 0,2 1;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 3px;
}

text {
  font: 14px sans-serif;
  stroke-width: 1px;
  pointer-events: none;
}

text.shadow {
  stroke: #fff;
  stroke-width: 2px;
}
